/* === ABOUT === */
.about {
  margin-top: 80px;
  max-width: 800px;
  margin-inline: auto;
  text-align: center;
  animation: fadeUp 1s ease forwards;
}

.about h3 {
  font-size: 1.6rem;
  margin-bottom: 15px;
  color: black;
}
.about h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: black;
}
.about p {
  color: black;
  line-height: 1.7;
}

/* === PROJECTS PREVIEW === */
.home-projects {
  margin-top: 80px;
  text-align: center;
}

.project-previews {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 20px;
}

.preview {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.preview:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.preview img {
  width: 100%;
  height: 360px; /* ✅ hauteur fixe et égale pour toutes */
  object-fit: cover; /* ✅ garde le ratio sans déformation */
  object-position: center;
}

.preview p {
  padding: 10px;
  font-weight: 500;
}

.btn-secondary {
  display: inline-block;
  margin-top: 25px;
  padding: 8px 16px;
  border-radius: 6px;
  background: #06294e;
  color: #fff;
  transition: background 0.3s ease;
}

.btn-secondary:hover {
  background: #e0e0e0;
}

/* === Animations === */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
