.mes-cercles {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.outer-circle {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 4px solid blue;
  border-top-color: blue; /* effet de rotation visible */
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spin 10s linear infinite; /* rotation horaire */
  background-color: rgb(102, 93, 93);
  /*box-shadow: 10px 10px 5px 5px black;*/
}

.inner-circle {
  width: 380px;
  height: 380px;
  border-radius: 50%;
  border: 5px solid white;
  
  animation: spin-reverse 8s linear infinite; /* rotation antihoraire */
}
.outer-circle-in {
  width: 370px;
  height: 370px;
  border-radius: 50%;
  border: 5px solid blue;
  border-top-color: white; /* effet de rotation visible */
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spin 10s linear infinite; /* rotation horaire */
}

/* LOGO REACT */
.react-logo {
  width: 50px;
  height: 50px;
  opacity: 0;
  animation: fade 4s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg); /* sens inverse */
 } 
} 

/* ANIMATION DU LOGO */
@keyframes fade {
  0%, 100% {
    opacity: 0;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
}