body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #222;
  background-color: #fafafa;
}

main {
  padding: 40px;
  min-height: 80vh;
}

h1, h2 {
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}
