.home {
  padding: 40px 20px;
}
.myName {
    justify-content: start;
    font-family: saira;
    font-weight: 600;
}

/* === HERO === */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.hero-text {
  flex: 1 1 400px;
  animation: fadeUp 1s ease forwards;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-text h2 {
  font-size: 2rem;
  
  margin-bottom: 15px;
}

.highlight {
  color: #007bff;
}
.hero-image-text {
  display: flex;
  flex-direction: row;
}
.hero-text p {
  color: black;
  line-height: 1.6;
  font-size: 1.4rem;
  margin-bottom: 25px;
}

.btn-primary {
  display: inline-block;
  background: #06294e;
  color: #fff;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: 600;
  transition: background 0.3s ease;
}



/* Conteneur de l’image */
.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

/* Image elle-même */
.hero-image img {
  width: 100%;
  max-width: 300px; /* ✅ limite la taille sans la figer */
  height: auto;
  border-radius: 50%;
  object-fit: cover; /* ✅ garde de belles proportions */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  animation: fadeIn 1.2s ease forwards;
}

.mesLiens {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* === RESPONSIVE === */
@media (max-width: 768px) {
  .hero-image-text {
  display: flex;
  flex-direction: column;
}
}
