.navbar {
  background-color: #007bff;
}

header {
    display: flexbox;
    flex-direction: row;
    justify-content: space-between;

  background-color: #f5f5f5;
  padding: 1rem;
}

nav ul {
    justify-content: flex-end;
  list-style: none;
  display: flex;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  color: #333;
  
}

nav a:hover {
  color: #007bff;
}

header h2 {
    color: blue;
}